* {
  padding: 0;
  margin: 0;
}
.parents {
  background: #ced4d8;
  width: 800px;
  display: grid;
  margin: 0 auto;
  justify-content: center;
  padding: 20px 0px;
}

.parents h1 {
  padding: 40px 0px;
  font-size: 50px;
  color: #000000d9;
}
